body {
	padding-top: 5px;
  /*background-color: #202833;*/
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

a {
  color: #E5EAEE;
} 
h3,
label {
 	color: #202833;
}

.fa {
  /*font-size: 50px;*/
  color: #E5EAEE;
}


.navbar,
.pcard {
  background-color: #202833;
}

.home {
  background: url("../images/glasses-2947708_1920.jpg") ;
  opacity: 0.9;
  background-size: 100% 100%;
  height: 100vh;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about,
.contact {
  /*background-image: url("../images/dark_mosaic.png") ;*/
  background-color: #202833;
  /*opacity: 0.9;*/
  /*background-size: 100% 100%;*/
  height: 100vh;
}

.portfolio {
  background-color: #E5EAEE;
  height: 100vh; 
}

form {
  background-color: #E5EAEE;
  padding: 10px;
}

button {
  background-color: #202833;
  color: #E5EAEE;
}

.connect {
  background-color: #202833;
  color: white;
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em; 
    width: 21ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
               blink-caret .5s step-end infinite alternate;
}


.slideanim {visibility:hidden;}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 1;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 1;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}







