body {
	padding-top: 5px;
  /*background-color: #202833;*/
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

a {
  color: #E5EAEE;
} 
h3,
label {
 	color: #202833;
}

.fa {
  /*font-size: 50px;*/
  color: #E5EAEE;
}


.navbar,
.pcard {
  background-color: #202833;
}

.home {
  background: url("../images/glasses-2947708_1920.jpg") ;
  opacity: 0.9;
  background-size: 100% 100%;
  height: 100vh;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about,
.contact {
  /*background-image: url("../images/dark_mosaic.png") ;*/
  background-color: #202833;
  /*opacity: 0.9;*/
  /*background-size: 100% 100%;*/
  height: 100vh;
}

.portfolio {
  background-color: #E5EAEE;
  height: 100vh; 
}

form {
  background-color: #E5EAEE;
  padding: 10px;
}

button {
  background-color: #202833;
  color: #E5EAEE;
}

.connect {
  background-color: #202833;
  color: white;
}








